@import "@/assets/css/flex.scss";
.operationWrapper {
  background: #fff;
  @include frcc;
  position: relative;

  .connectBtn {
    width: 133px;
    height: 36px;
    position: absolute;
    top: 32px;
    right: 32px;
    .btnText {
      color: #09090b;
    }
  }
  .content {
    @include fcsc;
    gap: 36px;
    width: 350px !important;
    .ant-btn {
      width: 100%;
      height: 36px;
      background-color: #18181b;
      box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);

      font-family: Inter;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0px;
      color: #fafafa;
      &.ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover {
        background-color: #18181b;
      }
      &.ant-btn-primary:disabled,
      .ant-btn-primary.ant-btn-disabled {
        border-color: #d9d9d9;
        color: rgba(0, 0, 0, 0.25);
        background: rgba(0, 0, 0, 0.04);
      }
    }
    header {
      width: 100%;
      text-align: center;
      padding: 4px 0;
      h5 {
        font-family: "Inter";
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        letter-spacing: -0.6px;
      }
      h6 {
        padding-top: 8px;
        font-family: Inter;
        font-size: 14px;
        font-weight: normal;
        line-height: 20px;
        letter-spacing: 0px;
        color: #71717a;
        margin: 0 -1px;
      }
    }
    .operationForm {
      width: 100%;
      .ant-form-item {
        width: 100%;
        margin-bottom: 16px;
        .ant-form-item-label {
          font-family: Inter;
          font-size: 14px;
          font-weight: 500;
          line-height: 14px;
          letter-spacing: 0px;
          color: #09090b;
        }
        .ant-input {
          background: #ffffff;
          box-sizing: border-box;
          border: 1px solid #e4e4e7;
          border-radius: 6px;
          padding: 4px 12px;

          font-family: Inter;
          font-size: 12px;
          font-weight: normal;
          line-height: 20px;
          letter-spacing: 0px;
          color: #09090b;
          &::-webkit-input-placeholder {
            color: #71717a;
          }
        }
        .ant-input-number {
          width: 100%;
        }
        &.typeFormItem {
          margin-bottom: 24px;
          .ant-radio-group {
            @include frsc;
            gap: 16px;
            .ant-radio-button-wrapper {
              flex: 1;
              border-radius: 6px;
              background: #ffffff;
              box-sizing: border-box;
              border: 2px solid #f4f4f5;
              @include frcc;
              gap: 12px;
              height: 48px;
              > div,
              &::before {
                display: none;
              }
              &:hover {
                color: #09090b;
              }
              .ant-radio-button-wrapper::after {
                display: none;
              }
              &.ant-radio-button-wrapper-checked {
                border-color: #18181b;
                &::after,
                &:hover::after {
                  display: none;
                }
                &:not(.ant-radio-button-wrapper-disabled) {
                  color: #09090b;
                }
              }
              .typeWrapper {
                width: 100%;
                @include frcc;
                gap: 12px;
                .typeIcon {
                  width: 16px;
                }
                .typeText {
                  font-family: Inter;
                  font-size: 14px;
                  font-weight: normal;
                  line-height: 20px;
                  letter-spacing: 0px;
                  color: #09090b;
                }
              }
            }
          }
        }
        &.priceFormItem {
          margin-bottom: 40px;
        }
        &.submitBtnFormItem {
          margin-bottom: 0;
        }
        &.submitBtnFormItem2 {
          align-items: flex-end;
          position: absolute;
          bottom: 0;
        }
        &.uploadFileFormItem {
          .ant-form-item-control-input,
          .ant-form-item-control-input-content,
          .ant-upload-wrapper,
          .ant-upload-wrapper > .ant-upload {
            height: 118px;
            width: 350px;
            // display: flex;
          }
          .ant-upload-wrapper {
            .ant-upload-list {
              display: none;
            }
            > .ant-upload {
              @include fccc;
              gap: 12px;
              border: 1px dashed #e4e4e7;
              border-radius: 6px;
              box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
              cursor: pointer;
              > .ant-upload {
                @include fccc;
              }
              .uploadBtn {
                padding: 0;
                border: 0 !important;
                .iconfont {
                  font-size: 16px;
                  color: #09090b;
                }
              }
              p {
                font-family: Inter;
                font-size: 12px;
                font-weight: normal;
                line-height: 20px;
                text-align: center;
                letter-spacing: 0px;

                color: #71717a;
              }
            }
          }
          .uploadProcessDesc {
            font-family: Inter;
            font-size: 12px;
            font-weight: normal;
            line-height: 14px;
            letter-spacing: 0px;
            color: #64748b;
          }
          .uploadFileWrapper {
            width: 100%;
            margin-top: 16px;
            @include fcss;
            .title {
              font-family: Inter;
              font-size: 14px;
              font-weight: 500;
              line-height: 14px;
              text-align: center;
              display: flex;
              align-items: center;
              letter-spacing: 0px;

              color: #161616;
            }
            .fileInfo {
              width: 100%;
              @include frbc;
              box-sizing: border-box;
              border: 0.5px solid #e3e3e3;
              height: 36px;
              padding: 10px 12px;
              border-radius: 4px;
              margin: 8px 0;
              position: relative;
              .intro {
                @include frsc;
                gap: 12px;

                .iconfont {
                  font-size: 16px;
                }
                .name {
                  font-family: Inter;
                  font-size: 12px;
                  font-weight: normal;
                  line-height: 12px;
                  text-align: center;
                  display: flex;
                  align-items: center;
                  letter-spacing: 0px;
                  color: #525252;
                  max-width: 252px;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  display: inline-block;
                }
              }
              .deleteBtn {
                font-size: 0;
                height: auto;
                line-height: 1;
                .iconfont {
                  font-size: 12px;
                  color: #525252;
                }
              }
              .progressBar {
                position: absolute;
                bottom: 0;
                left: 0;
                height: 3px;
                background: #0a1214;
                border-radius: 10px;
              }
            }
          }
        }
      }
      &.operationForm2 {
        height: 420px;
        position: relative;
      }
    }
    .btnWithTipWrapper {
      width: 100%;
      @include fcss;
      gap: 8px;
      > p {
        font-family: Inter;
        font-size: 12px;
        font-weight: normal;
        line-height: 14px;
        letter-spacing: 0px;
        color: #64748b;
        &.errorMsg {
          color: #fa4d56;
        }
      }
    }
    .PBack {
      gap: 8px;
      align-self: flex-start;
      --icon-tokens-icon-primary: #09090b;
    }
    .details {
      width: 100%;
      @include fcbs;

      height: 420px;
      .detailsCon {
        width: 100%;
        @include fcbs;

        .tip {
          @include frsc;
          gap: 4px;
          .iconfont {
            font-size: 16px;
            color: #24a148;
          }
          > p {
            font-family: IBM Plex Sans;
            font-size: 14px;
            font-weight: normal;
            line-height: 18px;
            text-align: center;
            letter-spacing: 0.16px;
            color: #24a148;
          }
        }
      }
      .detailsTitle {
        margin-top: 16px;
        margin-bottom: 12px;
        font-family: Inter;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: -0.21px;
        color: #000000;
      }
      .detailItems {
        width: 100%;
        @include fcss;
        gap: 12px;
        .detailItem {
          width: 100%;
          @include frbs;
          .label {
            font-family: Inter;
            font-size: 14px;
            font-weight: normal;
            line-height: 24px;
            letter-spacing: -0.21px;
            color: #64748b;
            width: 80px;
          }
          .value {
            width: 240px;

            font-family: Inter;
            font-size: 14px;
            font-weight: normal;
            line-height: 24px;
            text-align: right;
            letter-spacing: -0.21px;
            color: #020617;
            &:not(.descriptionValue) {
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            .descriptionValue {
              word-break: break-all;
            }
          }
        }
      }
    }
    .buyProcess {
      width: 100%;
      @include fcbs;
      height: 420px;
      .fileDesc {
        width: 100%;
        @include frbc;
        .name {
          @include frsc;
          gap: 16px;

          font-family: Inter;
          font-size: 14px;
          font-weight: 500;
          line-height: 16px;
          letter-spacing: 0px;

          color: #242634;

          .iconfont {
            font-size: 16px;
          }
          > span {
            max-width: 252px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
        .size {
          @include frcc;

          padding: 4px 8px;

          box-sizing: border-box;

          border: 1px solid #cdd3d8;

          font-family: Inter;
          font-size: 11px;
          font-weight: 600;
          line-height: 12px;
          text-align: center;
          letter-spacing: 0px;

          color: #242634;
        }
      }
      .processDesc {
        font-family: Inter;
        font-size: 14px;
        font-weight: normal;
        line-height: 16.38px;
        letter-spacing: -0.21px;
        color: #64748b;
      }
    }
    .okBtn {
      width: 100%;
    }
  }
}
